@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;

        --primary: 45.67, 88.55%, 55.49%;
        --secondary: 31.74, 83.5%, 40.39%;

        --muted: 210 40% 96.1%;

        --accent: 192.63, 44.19%, 33.73%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --border: 214.3 31.8% 91.4%;

        --light: 33.33, 100%, 96.47%;
        --light2: 34.29, 100%, 91.76%;
        --text: 222.2 84% 4.9%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;

        --primary: 216 43% 13%;
        --secondary: 217.2 32.6% 17.5%;

        --muted: 217.2 32.6% 17.5%;

        --accent: 193 81% 63%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;

        --light: 222.2 84% 4.9%;
        --light2: 234 36% 3%;
        --text: 0 0% 100% /90%;

        --border: 217.2 32.6% 17.5%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

.portable-text {
    /*@apply text-text;*/

    h1 {
        @apply text-text text-3xl font-bold;
    }
    h2 {
        @apply text-2xl font-bold;
    }
    h3 {
        @apply text-xl font-bold;
    }
    h4 {
        @apply text-lg font-semibold;
    }
    a {
        @apply text-accent underline;
    }
}

.dark .portable-text {
    @apply prose-invert;
}